.card{
  
}
#cards{
  padding: 10px 25px 10px;
} */
.card-title{
  text-align: center;
} 

html,body{
  height: 95%;
  margin: 0;
}

.container-fluid{
  display: grid;
  grid-template-columns: 7vw 80vw 13vw;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.menu-item a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 30px;
  margin: 12px 0;
  color: rgb(58, 60, 60);
  font-weight: 300;
}

#menu{
  background: bisque;
}
#cart{
  background: rgb(253, 222, 169);
}
#food-container{
  display: grid;
  box-sizing: content-box;
  background: rgb(131, 8, 8);
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}

.card-title{
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 10%;
  background-color: #FAF7A6;
}
.nav__links {
  list-style-type: none;
  font-size: 30px;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
  transition: all 0.3s ease 0s;
  color:aqua;
  
}
button {
  padding: 9px 25px;
  background-color: rgb(252, 233, 182);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 30px,
}
button:hover {
  background-color: rgb(220, 30, 30);
}